<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="./css/designSolvers.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!-- Reference: these links is taken from w3school -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Reference: this link is taken from official website of cdn datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">

    <title>Design Solvers | Unbreakable</title>
</head>

<body>
  <img class="bg-img" src="./images/bg.png" alt="">
    <div class="col-lg-12">
        <div class="row">
            <div class="container text-center">
                <h2 class="mt-4">Welcome to Design Solvers</h2>
                <p>Premium quality Mobile Accessories by <a href="https://github.com/Irfanmalik26" target="blank">Irfan Malik</a></p>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-lg-12">
        <div class="row mt-5">
            <div class="offset-lg-4 col-lg-4">
                <div class="container login-section">
                    <div class="container text-center">
                        <h3>Login</h3>
                    </div>
                    <form id="login-form" action="/login" method="POST"
                        enctype="application/x-www-form-urlencoded">
                        <div class="form-group">
                            <label for="">Username</label>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Reference: this link is taken from official website of cdn datatables -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./js/index.js"></script>

</body>
<script>

</script>

</html>